body {
  font-family: "Exo 2", sans-serif;
  background: #f9f9f9;
  margin: 0;
  padding: 0;
  color: #333;
}



@media (max-width: 768px) {
  .checkout-header {
    height: 30vh;      /* a bit shorter on mobile */
    min-height: 180px; 
  }
}

.h1_title{
    text-align: center;
    text-shadow: #000000 1px 1px 2px;
}

.checkout-header {
  text-align: center;
  padding: 30px 20px;
  color: #000000;
}


.checkout-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 25px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.checkout-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.checkout-form label {
  font-weight: 600;
  margin-bottom: 6px;
  font-size: 0.95rem;
}

.checkout-form input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border 0.3s;
}

.checkout-form input:focus {
  border-color: #27ae60;
  outline: none;
  box-shadow: 0px 0px 4px rgba(39,174,96,0.4);
}

.btn-submit {
  width: 100%;
  padding: 14px;
  background: #c7d0d3;
  color: rgb(30, 28, 28);
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-submit:hover {
  background: #0e8fb6;
  color: #f1f1f1;
  transition: ease-in-out;
}

.btn-submit {
  font-weight: 600; /* semi-bold */
}


/* Responsive */
@media (max-width: 600px) {
  .checkout-container {
    margin: 20px;
    padding: 20px;
  }
}

/* state drop-down selector */
.custom-multiselect {
  position: relative;
  width: 100%;
  font-family: inherit;
}

.select-box {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-box .arrow {
  border: solid #666;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(45deg);
  margin-left: 8px;
}

.options-container {
  display: none;
  position: absolute;
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 4px;
  z-index: 999;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.options-container label {
  display: block;
  padding: 8px 10px;
  cursor: pointer;
}

.options-container label:hover {
  background: #f1f1f1;
}



.img_btn {
  width: 100%;
  display: flex;
  margin-top: 2%;
  border-radius: 5px;
}