main {
  padding: 2rem;
  background-image: url(../../img/main_banners/Dak-Prescott-Wallpaper.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Segoe UI', sans-serif;
}

.top-legend {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #1d231e;
  text-shadow: 1px 1px 3px rgb(8, 8, 7);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Exo 2", sans-serif;
}

.top-legend {
  width: 100%;
  background-image: url('/img/main_banners/images.jpeg'); /* replace with your image */
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  padding: 3rem 1rem;
  margin: 0;
  position: relative;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
  margin-bottom: 5%;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 2fr));
  gap: 1.2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.grid-item {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  text-align: center;
  padding: 2rem 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-item a {
  text-decoration: none;
  color: #333;
  font-size: 2.1rem;
  font-weight: 600;
  display: block;
  opacity: 0.7;
}

.grid-item {
  display: flex;
  justify-content: end; /* centers horizontally */
  align-items: end;     /* centers vertically */
  text-align: end;
}

.grid-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.12);
}

.grid-item:hover a {
  color: #70baef; /* accent color on hover */
}

.grid-item {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.grid-item a {
  position: relative;
  z-index: 2;
  color: white;
  text-shadow: 1px 1px 3px black;
  font-weight: bold;
  padding: 0 1rem;
}

/* Overlay for all grid items */
.grid-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 12px;
  pointer-events: none;
}

/* Specific backgrounds per category */
.gi-first {
  background-image: url('../../img/nfl_gorra/60623279_59FIFTY_5950SATIN22938_DALCOW_OTC_3QL.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gi-second {
  background-image: url('../../img/nfl_gorra/60488009_59FIFTY_LIFESTYLEENERGY_PITSTE_OTC_3QL.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gi-third {
  background-image: url('../../img/nfl_gorra/unnamed_58c6005e-ca8e-49a7-b27f-66a9e15fd695.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gi-forth {
  background-image: url('../../img/nfl_gorra/60640938_GOLFER_CHAMPIONSHIPPIN_NFLSUP_WHI_3QL.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gi-fifth {
  background-image: url('../../img/nfl_gorra/60695678_59FIFTYAF_5950AFCOLORPACK_SAF49E_NOV_3QL.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gi-sixth {
  background-image: url('../../img/nfl_gorra/60693842_59FIFTY_5950DECEPTOR22948_SAF49E_OTC_3QL.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gi-seventh {
  background-image: url('../../img/nfl_gorra/60548730_59FIFTY_NFL24SLHIS5950_SAF49ECC_STNOTC_3QL.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gi-eight {
  background-image: url('../../img/nfl_gorra/60584102_59FIFTY_NFL24CC5950_PHIEAG_BLK_3QL.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gi-ninth {
  background-image: url('../../img/nfl_gorra/60565077_9FIFTY_NFL_PHIEAG_BLK_3QL.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gi-tenth {
  background-image: url('../../img/nfl_gorra/60548690_59FIFTY_NFL24SL5950_PHIEAG_OTC_3QL.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gi-eleventh {
  background-image: url('../../img/nfl_gorra/60548701_59FIFTY_NFL24SL5950_NEEPAT_OTC_3QL.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gi-twelvth {
  background-image: url('../../img/nfl_gorra/9708719964190_b6beba80-5eb5-4ddc-bab0-bdce3ffc8e9c.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gi-thirteen {
  background-image: url('../../img/nfl_gorra/60745843_9FIFTY_950DECEPTOR22947_MIADOL_OTC_3QL.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gi-fourtheen {
  background-image: url('../../img/nfl_gorra/60693714_59FIFTY_5950DECEPTOR22948_MIADOL_OTC_3QL.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gi-fiftheen {
  background-image: url('../../img/nfl_gorra/60661441_59FIFTY_LifestyleEnergy_MIADOL_OTC_3QL.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gi-sixtheen {
  background-image: url('../../img/nfl_gorra/60693449_RC59FIFTY_5950RCAFEASY25818_MIADOL_OTC_3QL.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gi-seventheen {
  background-image: url('../../img/nfl_gorra/60665865_59FIFTYAF_NFL25DRAFT5950AF_JACJAG_OTC_3QL.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gi-eighteen {
  background-image: url('../../img/nfl_gorra/60665856_59FIFTYAF_NFL25DRAFT5950AF_DENBRO_OTC_3QL.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gi-nintheen {
  background-image: url('../../img/nfl_gorra/60665866_59FIFTYAF_NFL25DRAFT5950AF_KANCHI_OTC_3QL.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gi-twenthy {
  background-image: url('../../img/nfl_gorra/60623286_59FIFTY_5950SATIN22938_KANCHI_OTC_3QL.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gi-twenthy-one {
  background-image: url('../../img/nfl_gorra/60548694_59FIFTY_NFL24SL5950_LASRAI_OTC_3QL.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gi-twenthy-two {
  background-image: url('../../img/nfl_gorra/60584066_59FIFTY_NFL24STS5950_LASRAI_STC_3QL.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gi-twenthy-three {
  background-image: url('../../img/nfl_gorra/60548673_59FIFTY_NFL24SL5950_DALCOW_OTC_3QL.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gi-twenthy-four {
  background-image: url('../../img/nfl_gorra/60548671_59FIFTY_NFL24SL5950_BUFBIL_OTC_3QL.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gi-twenthy-five {
  background-image: url('../../img/nfl_gorra/60745919_9FIFTY_950DECEPTOR22947_BUFBIL_OTC_3QL.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gi-twenthy-six {
  background-image: url('../../img/nfl_gorra/60693790_59FIFTY_5950DECEPTOR22948_GREPAC_OTC_3QL.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
