header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    z-index: 100;
    background-color: #161616;
    font-family: "Josefin Sans", sans-serif;
}

header .header-brand {
    font-size: 1.1rem;
    font-weight: 700;
    color: #faf7f7;
    text-transform: uppercase;
    white-space: nowrap;
}

header nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    padding: 0 1rem;
}

header nav ul li a {
    font-size: 0.8rem;
    color: #111;
}

header .header-cases {
    display: none;
}




.burger span {
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.top-links a:hover {
  color: #08e8ca;
  transform: scale(1.05);
}

a[href="payment_process/cart.html"] {
  color: rgb(237, 237, 237);
  font-weight: bold;
  background-color: rgb(11, 116, 169);
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}


.shopping_cart {
  width: 22px;   /* smaller width */  /* keep consistent height */
  vertical-align: middle;  /* align with text */
  margin-right: 6px;       /* space between icon and text */
}
